body {
    background: black;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* header */
header {
    background-color: black;
    background-size: 100%;
    padding: 20px;
    height: 20px;
}
header a {
    color: white;
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

.welcome {
    position: relative;
    background-image: url("images/medical.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Overlay for reducing image opacity */
.welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust 0.5 for desired opacity */
    z-index: 1;
}

.text {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 25%;
}
section div a {
    color: whitesmoke;
}

.question {
    background: black;
}
.questionTitle {
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}

.overlay-button {
    position: relative;
    opacity: 100%;
    background-position: center;
}

/* footer */
footer {
    flex-direction: row;
    background: black;
    color: gray;
    text-align: center;
    font-size: 14px;
}