<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="../static/styles/stylesContact.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">MedicAI</a></li>
                <li><a href="contact.html">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <h1>Contacts</h1>
    <h3>We have provided some phone numbers that you can call if emergency arises.</h3>
    <h3>However, please consult your dermatologist if there is any irregularity.</h3>
    <section class="feature-box questions">
        <div><br><strong>Immediate Care</strong> <br><br><br>------------------------ <br><br><br><a href="tel:911">911</a></div>
        <div><br><strong>American Cancer Society</strong> <br><br>------------------------ <br><br><br><a href="tel:8002272345">800-227-2345</a></div>
        <div><br><strong>NCI's Cancer Information Service</strong> <br><br>------------------------ <br><br><br><a href="tel:8004226237">800-422-6237</a></div>
    </section> 

    <section class="feature-box questions">
        <div><br><strong>The Skin Cancer Foundation</strong> <br><br>------------------------ <br><br><br><a href="tel:2127255176">212-725-5176</a></div>
        <div><br><strong>American Academy of Dermatology</strong> <br><br>------------------------ <br><br><br><a href="tel:8884623376">888-462-3376</a></div>
        <div><br><strong>Time to Screen</strong> <br><br><br>------------------------ <br><br><br><a href="tel:8555372733">855-537-2733</a></div>
    </section> 
</body>
</html>